@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.header {
  text-align: center;
}

h1 {
  font-size: 50px;
  color: rgb(176, 204, 229);
  margin-top: 17px;
  margin-bottom: 10px;
  font-family: "Fredoka One", cursive;
}
